<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eatsaround.EaSql.activityLogMapper">

    <!-- 結果マップの定義。SQLクエリの結果をJavaオブジェクトにマッピング -->
    <resultMap id="ActivityLogResultMap" type="com.eatsaround.vo.ActivityLogVO">
        <result property="userId" column="USERID"/> <!-- USERIDカラムをuserIdプロパティにマッピング -->
        <result property="activityType" column="ACTIVITY_TYPE"/> <!-- ACTIVITY_TYPEカラムをactivityTypeプロパティにマッピング -->
        <result property="activityTime" column="ACTIVITY_TIME"/> <!-- ACTIVITY_TIMEカラムをactivityTimeプロパティにマッピング -->
    </resultMap>

    <!-- ログイン履歴を取得するためのSELECT文 -->
    <select id="getLoginHistory" resultMap="ActivityLogResultMap">
        SELECT USERID, ACTIVITY_TYPE, ACTIVITY_TIME
        FROM ACTIVITY_LOG
        WHERE ACTIVITY_TYPE = 'LOGIN' <!-- アクティビティタイプがLOGINのレコードを取得 -->
        ORDER BY ACTIVITY_TIME DESC <!-- アクティビティ時間で降順にソート -->
    </select>
    
    <!-- ログアウト履歴を取得するためのSELECT文 -->
    <select id="getLogoutHistory" resultMap="ActivityLogResultMap">
        SELECT USERID, ACTIVITY_TYPE, ACTIVITY_TIME
        FROM ACTIVITY_LOG
        WHERE ACTIVITY_TYPE = 'LOGOUT' <!-- アクティビティタイプがLOGOUTのレコードを取得 -->
        ORDER BY ACTIVITY_TIME DESC <!-- アクティビティ時間で降順にソート -->
    </select>
    
    <!-- アクティビティを挿入するためのINSERT文 -->
    <insert id="logActivityVO" parameterType="com.eatsaround.vo.ActivityLogVO">
        INSERT INTO ACTIVITY_LOG (USERID, ACTIVITY_TYPE, ACTIVITY_TIME)
        VALUES (#{userId}, #{activityType}, #{activityTime}) <!-- ActivityLogVOからプロパティを取得 -->
    </insert>

</mapper>
