@charset "UTF-8";
.w-10 { width: 10% !important; }
.w-90 { width: 90% !important; }
.h-90 { width: 100%; height: 90px !important; }
.h100 { width: 100%; height: 100px; }

/* 背景色 */
.bg-gradient-primary {
    height: 910px;
    background-color: rgb(128, 255, 255);
    background-size: cover;
    background-image: linear-gradient(180deg, rgb(128, 255, 255) 10%, rgb(255, 255, 255) 100%);
}

.o-hidden { overflow: hidden !important; }

.bg-login-image {
    background: url(https://source.unsplash.com/K4mSJ7kc0As/600x800);
    background-position: center;
    background-size: cover;
}

.text-gray-900 { color: #3a3b45 !important; }
.form-control-user { font-size: .8rem; border-radius: 10rem; padding: 1.5rem 1rem; }
.custom-control { position: relative; z-index: 1; display: block; min-height: 1.5rem; }
.small { font-size: 80%; font-weight: 400; }
.btn-user { font-size: .8rem; border-radius: 10rem; padding: .75rem 1rem; }
.btn-google { color: #fff; background-color: #ea4335; border-color: #fff; }
.btn-facebook { color: #fff; background-color: #3b5998; border-color: #fff; }
.btn-kakaotalk { color: #fff; background-color: #ffe500; border-color: #fff; }
.btn-block { display: block; width: 100%; }

a { text-decoration: none; }
